/* ClientSay start */
.ClientSay_container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
}

/* clientSay paragraph start  */

.ClientSay_heading {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 16px;
  font-family: "Poppins Medium";
}

.ClientSay_paragraph {
  width: 95%;
  font-size: 38px;
}

/* clientSay Video start */

.ClientSay_VideoDiv {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.ClientSay_leftVideo {
  margin-top: 65px;
  width: 25%;
  height: 320px;
  background-color: blue;
  z-index: -1;
}

.ClientSay_middleVideo {
  width: 45%;
  height: 450px;
  background-color: aqua;
  z-index: 1;
}

.ClientSay_rightVideo {
  margin-top: 65px;
  width: 25%;
  height: 320px;
  background-color: blue;
  z-index: -1;
}

/* ClientSay Button work */
.ClientSay_button_div {
  text-align: center;
}

.ClientSay_button {
  font-family: "Poppins Medium";
  margin-top: 30px;
  height: 60px;
  width: 230px;
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
}

/* ClientSay end  */

/* BLOG container section start */

.BLOG_row {
  display: flex;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
}

.BLOG_heading {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 16px;
  font-family: "Poppins Medium";
}

.BLOG_paragraph {
  font-size: 38px;
}

/* Blog_Picture */
.Blog_Picture_div {
  margin-top: 30px;
  width: 96%;
  height: 310px;
  background-color: aquamarine;
}
.Blog_Picture_div:hover {
  transform: scale(1.1); 
}

.Blog_Picture_div_para{
  opacity: 0.9;
  background-color: #000000;
  color: var(--white);
  height: 10%;
  width: 100%;
}

.Blog_Picture_div_para:hover {
  color:#87CEEB;
}

#Blog_Picture_one {
  background: url("./blogimages/appstudent.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Blog_Picture_Two {
  background: url("./blogimages/nft.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#Blog_Picture_Three {
  background: url("./blogimages/onlinebusiness.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#Blog_Picture_Four {
  background: url("./blogimages/smallbusiness.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* ClientSay_ button */
.blog_button_Div {
  text-align: center;
}

.blog_button {
  font-family: "Poppins Medium";
  margin-top: 30px;
  height: 60px;
  width: 230px;
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
}
/* BLOG container section end */
