@import url(//db.onlinewebfonts.com/c/0c28006f19928dfd146027cfd7024ca0?family=Poppins+Medium);
@import url(//db.onlinewebfonts.com/c/2e6cd8faed5d485da4baf7f2a3202a04?family=Poppins+Light);


.Technologis_container {
  padding-bottom: 50px;
  /* margin-bottom: 100px; */

}

.Technologies_paragraph_container {
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 80px;
  background-color: rgba(0, 0, 0, 0.027451);
}

.Technologies_leftparagraph_heading {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 18px;
  font-family: "Poppins Medium";
}

.Technologies_leftparagraph_para {
  width: 90%;
  font-size: 43px;
}

.Technologies_Rightparagraph {
  border-left: 1px solid var(--grey);
  font-family: "Poppins Medium";
}

.Technologies_Rightparagraph_paragraph {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px;
  width: 85%;
  font-family: "Poppins Light";
}

/* Technologis crad start*/
.Technologis_card_Map_container {
  font-family: "Poppins Medium";
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.027451);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
}

.Card_Technologies_ParagraphWork {
  display: flex;
  padding-top: 30px;
}

.Card_Technologies_cradlogo {
  width: 70px;
  height: 70px;
  color: #808080;
}

.Card_Technologies_ParagraphWork_paraDiv {
  width: 80%;
  margin-left: 30px;
}

.Card_Technologies_CaradHeading {
  font-size: 40px;
}

.Card_Technologies_CradPara {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.9;
}

.icon_Container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.icon_Sub_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_Sub_Container_icon {
  width: 90px;
  height: 90px;
  /* color: #808080; */
}

/* Technologis crad end*/

/* solution work start */

.solution_container {
  padding-left: 80px;
  padding-bottom: 80px;
}

.solution_word {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 18px;
  font-family: "Poppins Medium";
}

.solution_heading {
  font-size: 45px;
  /* width: 95%; */
}

.solution_paragraph {
  margin-top: 30px;
  font-size: 22px;
  width: 90%;
  line-height: 2.1em;
  font-family: "Poppins Light";
}

/* card solution */

.cardsolution_map_container {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 700px;
  overflow-x: scroll;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.cardsolution_map_Sub_container {
  margin-bottom: 20px;
}

.CardSolution_heading {
  margin-top: 15px;
  font-size: 16px;
}

.CardSolution_icon {
  color: var(--blue);
  width: 90px;
  height: 90px;
}

/* solution work end */


.discuss_heading {
  font-size: 35px;
}

.discuss_paragraph {
  width: 90%;
  font-size: 20px;
}

/* discuss work end */



