/* technology section start */

@media only screen and (max-width: 968px) {
  .Technologies_paragraph_container {
    align-items: center;
    text-align: center;
    padding-top: 50px;
    padding-left: 0px;
    background-color: rgba(0, 0, 0, 0.027451);
  }

  .Technologies_leftparagraph_para {
    width: 100%;
    font-size: 30px;
  }
  .Technologies_Rightparagraph {
    border: none;
  }

  .Technologies_Rightparagraph_paragraph {
    margin-top: 30px;
    width: 90%;
    line-height: 2em;
  }
}

/* card technology start */

@media only screen and (max-width: 610px) {
  .CardTechnology_container {
    margin-left: 8px;
    margin-right: 8px;
    width: 400px;
    height: 620px;
  }

  .CardTechnology_upperdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  .CardTechnology_upperdiv_heading {
    font-size: 21px;
    width: 100%;
  }

  .CardTechnology_upperdiv_paragraph {
    font-size: 16px;
    width: 100%;
  }

  .cardsolution_map_container {
    width: 100%;
    margin-right:  3px ;
  }
  
}
/* card technology end */

/* technology section end */

/* solution section start */

@media only screen and (max-width: 982px) {
  .solutin_leftwork {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }

  .solution_container {
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .solution_word {
    font-size: 13px;
  }

  .solution_heading {
    font-size: 30px;
  }

  .solution_paragraph {
    margin-top: 20px;
    font-size: 17px;
  }
  .solution_button {
    margin-top: 20px;
    height: 50px;
    width: 200px;
  }
}


@media only screen and (max-width: 600px) {
   
  .solution_container {
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .solution_word {
    font-size: 12px;
  }

  .solution_heading {
    font-size: 27px;
  }

  .solution_paragraph {
    margin-top: 20px;
    font-size: 15px;
  }
  }

/* solution section end */
