@import url(//db.onlinewebfonts.com/c/0c28006f19928dfd146027cfd7024ca0?family=Poppins+Medium);
@import url(//db.onlinewebfonts.com/c/2e6cd8faed5d485da4baf7f2a3202a04?family=Poppins+Light);

:root {
  --blue: #1576d8;
  --white: #ffffff;
  --grey: #808080;
  --orange: #ff9100;
}

.Technologis_container {
  padding-bottom: 50px;
}

.Technologies_paragraph_container {
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 80px;
  background-color: rgba(0, 0, 0, 0.027451);
}

.Technologies_leftparagraph_heading {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 15px;
  font-family: "Poppins Medium";
}

.Technologies_leftparagraph_para {
  width: 100%;
  font-size: 35px;
}

.Technologies_Rightparagraph {
  border-left: 1px solid var(--grey);
  font-family: "Poppins Medium";
}

.Technologies_Rightparagraph_paragraph {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px;
  width: 85%;
  font-family: "Poppins Light";
}

/* Technologis crad start*/

.Technologis_card_Map_container {
  font-family: "Poppins Medium";
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  background-color: rgba(0, 0, 0, 0.027451);
  padding-top: 50px;
}

.Technologis_card_Map_SUbcontainer{
  margin: 20px;
}

.Technologis_card_container{
  background-color: #ECEFF0;
}

.Technologis_card_container:hover {
  color: var(--white);
  background-color: var(--blue);
}


.Card_Technologies_ParagraphWork {
  display: flex;
  padding-top: 10px;
}

.Card_Technologies_cradlogo {
  width: 60px;
  height: 60px;
}

.Card_Technologies_ParagraphWork_paraDiv {
  width: 80%;
  margin-left: 30px;
}

.Card_Technologies_CaradHeading {
  font-size: 33px;
}

.Card_Technologies_CradPara {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.9;
}

.icon_Container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.icon_Sub_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon_Sub_Container_para{
  background-color: var(--white);
  width:  75px;
  height: 75px;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.icon_Sub_Container_icon {
  width: 60px;
  height: 60px;
}

/* Technologis crad end*/

/* solution work start */

.solution_container {
  padding-left: 80px;
  padding-bottom: 80px;
}

.solution_word {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 15px;
  font-family: "Poppins Medium";
}

.solution_heading {
  width: 90%;
  font-size: 38px;
}

.solution_paragraph {
  margin-top: 30px;
  font-size: 17px;
  width: 90%;
  line-height: 1.6em;
  font-family: "Poppins Light";
}

/* card solution */

.cardsolution_map_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 92%;
  height: 500px;
  overflow-x: hidden;
  overflow-y: visible;
  margin-bottom: 10px;
}

.cardsolution_map_Sub_container {
  margin-bottom: 5px;
  margin-top: 5px;
}

.CardSolution_container:hover {
  border: 1px solid var(--blue);
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);
}

.CardSolution_icon {
  color: var(--blue);
  width: 70px;
  height: 70px;
}

.CardSolution_heading {
  margin-top: 10px;
  font-size: 13px;
}

/* solution work end */

.discuss_heading {
  font-size: 35px;
}

.discuss_paragraph {
  width: 90%;
  font-size: 20px;
}

/* discuss work end */
