@import url(//db.onlinewebfonts.com/c/0c28006f19928dfd146027cfd7024ca0?family=Poppins+Medium);
@import url(//db.onlinewebfonts.com/c/2e6cd8faed5d485da4baf7f2a3202a04?family=Poppins+Light);
/* font-family: "Poppins Medium"; */

:root {
  --blue: #1576d8;
  --white: #ffffff;
  --grey: #808080;
  --orange: #ff9100;
}

.ConsultingServices_paragraph_container {
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 80px;
  background-color: rgba(0, 0, 0, 0.027451);
}

.ConsultingServices_leftparagraph_heading {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 18px;
  font-family: "Poppins Medium";
}

.ConsultingServices_leftparagraph_para {
  width: 90%;
  font-size: 43px;
}

.ConsultingServices_Rightparagraph {
  border-left: 1px solid var(--grey);
}

.ConsultingServices_Rightparagraph_paragraph {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px;
  width: 85%;
  font-family: "Poppins Light";
}

/* {ConsultingServices card start} */

.ConsultingServices_card_Map_container {
  background-color: rgba(0, 0, 0, 0.027451);
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-bottom: 50px;
}

.CardCousultingservices_card_heading {
  margin-top: 30px;
  font-size: 28px;
}

.CardCousultingservices_card_paragraph {
  margin-top: 30px;
  font-size: 20px;
}

.CardCousultingservices_cradIcon {
  width: 75px;
  height: 70px;
  color: #1576d8;
}

.CardCousultingservices_ShareIcon_para {
  margin-top: 22px;
}

.CardCousultingservices_ShareIcon {
  margin-left: 265px;
  width: 42px;
  height: 42px;
}

/* {ConsultingServices card end} */

/* most trusted  software  since 2008 right work */
.mosttrusted_container {
  margin: 100px 0px;
}

/* this is row */
.mosttrusted_Sub_container {
  margin: 0px 60px;
}

.mosttrusted_leftDiv_who {
  color: var(--orange);
  letter-spacing: 20px;
  font-size: 18px;
  font-family: "Poppins Medium";
}

.mosttrusted_leftDiv_hedding {
  font-size: 38px;
  width: 85%;
  margin-bottom: 40px;
}

.mosttrusted_leftDiv_paragraghDiv {
  font-family: "Poppins Light";
  line-height: 1.8em;
  font-size: 21px;
  width: 95%;
}

.mosttrusted_leftDiv_paragragh_p{
  margin-bottom: 25px;
}

.mosttrusted_leftDiv_button {
  font-family: "Poppins Medium";
  margin-top: 30px;
  height: 65px;
  width: 270px;
  color: var(--white);
  border: 2px solid var(--white);
  background-color: var(--blue);
}

/* mosttrusted rightwork */

.mostTrusted_Rightbox{
  background-color: rgba(0,0,0,.027451);
}
/* row One */
.mostTrusted_Rightbox_RowOneDiv{
   display: flex;
   border: 2px solid #808080;
   height: 150px;
}

.mostTrusted_Rightbox_RowOneSubDivOne{
  width: 50%;
  padding-top: 25px;
  padding-left: 30px;
}


.mostTrusted_Rightbox_RowOneSubDivOne_h3{
   color: var(--blue);
}

.mostTrusted_Rightbox_RowOneSubDivTwo{
  border-left: 1px solid  #808080;
  padding-top: 25px;
  padding-left: 30px;
  width: 50%;
}


.mostTrusted_Rightbox_RowTwoDiv{
  border: 2px solid #808080;
  height: 310px
}

.img_dedicatedDevelopers {
  background-color: aqua;
  width: 100%;
  height: 305px
}

/* mostTrusted_Rightbox_BOTTOMwORK */

.mostTrusted_Rightbox_BottomWork{
 display: flex;
 margin-top: 60px;
}

.mostTrusted_Rightbox_BottomWork_p{
  font-family: "Poppins Light";
  font-size: 22px;
  width: 80%;
  margin-bottom: 20px;
}

.mostTrusted_Rightbox_BottomWork_h3{
  color: var(--blue);
}

.mostTrusted_Rightbutton{
  margin-right: 20px;
  font-family: "Poppins Medium";
  height: 70px;
  width: 200px;
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
}