/* discuss section start */

@media only screen and (max-width: 968px) {
  .discuss_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-right: 5px;
  }

  .discuss_container > div > h3 {
    width: 100%;
    font-size: 30px;
  }
  .discuss_container > div > p {
    font-size: 18px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

    .latestWork_main {
        margin: 0px 5px;
      }

  .discuss_container {
    width: 95%;
  }

  .discuss_container > div > h3 {
    font-size: 25px;
  }

  .discuss_container > div > p {
    font-size: 15px;
  }
}

/* discuss section end */

/* latestwork section start */

@media only screen and (max-width: 968px) {
  .latestWork_upperdiv > p {
    text-align: center;
  }

  .LatestWork_buttondiv {
    display: flex;
    justify-content: center;
  }

  .LatestWork_word {
    font-size: 15px;
  }

  .LatestWork_heading {
    font-size: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .LatestWork_box {
    width: 100%;
    height: 300px;
    position: relative;
  }

  .LatestWork_box_div {
    width: 100%;
    height: 38%;
    transition: 0.5s ease;
  }

  .LatestWork_box_div > h3 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 400px) {
  .LatestWork_box_div {
    margin-left: 5px;
  }
  .LatestWork_box {
    width: 90%;
    height: 250px;
    position: relative;
  }

  .LatestWork_box_div {
    width: 100%;
    height: 30%;
    transition: 0.5s ease;
  }

  .LatestWork_box_div > h3 {
    font-size: 15px;
  }

  .LatestWork_box_div_h5 {
    margin-top: 15px;
    font-size: 12px;
  }

  .LatestWork_box_div_p {
    font-size: 11px;
  }
}
/* latestwork section end */

/* industry we serve section start */

@media only screen and (max-width: 986px) {

    .industry_container {
        margin-left: 5px;
      }

  .industry_Leftparagraph {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .industry_leftparagraph_para {
    font-size: 28px;
  }

  .industry_leftparagraph_heading {
    font-size: 14px;
    letter-spacing: 6px;

  }

  .industry_Rightparagraph {
    border:none;
  }

  .industry_Rightparagraph_paragraph {
    font-size: 16px;
    width: 85%;
    text-align: center;
  }
  
}



@media only screen and (max-width: 600px) {

    /* .industry_Leftparagraph {
        width: 100%;
    } */
    .industry_leftparagraph_para {
        font-size: 18px;
        width:95%;
      }
    
   
    }

/* industry we serve section end */
