/* talk expert section start */

.Talkexpert_container {
  margin-left: 60px;
}

.Talkexpert_right_div {
  margin-left: 50px;
}

.Talkexpert_right_image{
  margin-top: 30px;
  height: 470px;
  width: 100%;
}

.Talkexpert_heading {
  font-size: 43px;
}

.Talkexpert_paragraph {
  margin-top: 30px;
  font-size: 18px;
  /* font-family: "Poppins"; */
}

.Talkexpert_button {
  font-family: "Poppins Medium";
  margin-top: 30px;
  height: 60px;
  width: 230px;
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
  cursor: pointer;
}
/* talk expert section end */


/* ConsultingServices section start */

.ConsultingServices_section {
  background-color: rgba(0, 0, 0, 0.027451);
  width: auto;
}

.ConsultingServices_paragraph_container {
  margin-top: 100px;
  padding-top: 100px;
  padding-left: 80px;
}

.ConsultingServices_leftparagraph_heading {
  color: var(--orange);
  letter-spacing: 12px;
  font-size: 18px;
  font-family: "Poppins Medium";
}

.ConsultingServices_leftparagraph_para {
  width: 90%;
  font-size: 43px;
}

.ConsultingServices_Rightparagraph {
  border-left: 1px solid var(--grey);
}

.ConsultingServices_Rightparagraph_paragraph {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 30px;
  width: 85%;
  line-height: 2em;
}

/* {ConsultingServices card start} */

.ConsultingServices_card_Map_container {
  /* background-color: rgba(0, 0, 0, 0.027451); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding :0px 60px;
  padding-bottom: 80px;
}


.CardCousultingservices_card_container{
  margin-top: 40px;
}

.CardCousultingservices_card_container:hover {
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
}

.CardCousultingservices_cradIcon {
  width: 60px;
  height: 50px;
}

.CardCousultingservices_card_heading {
  margin-top: 25px;
  font-size: 20px;
}

.CardCousultingservices_card_paragraph {
  margin-top: 20px;
  font-size: 18px;
}

.CardCousultingservices_ShareIcon_para{
  display: flex;
  justify-content: flex-end;
}

.CardCousultingservices_ShareIcon {
  width: 31px;
  height: 31px;
}

/* {ConsultingServices card end} */

/* ConsultingServices section end */


/* most trusted  section start */
.mosttrusted_container {
 margin-top: 100px;
}

/* this is row */
.mosttrusted_Sub_container {
  margin: 0px 60px;
}

.mosttrusted_leftDiv_who {
  color: var(--orange);
  letter-spacing: 20px;
  font-size: 14px;
  font-family: "Poppins Medium";
}

.mosttrusted_leftDiv_hedding {
  font-size: 35px;
  width: 85%;
  margin-bottom: 40px;
}

.mosttrusted_leftDiv_paragraghDiv {
  line-height: 1.8em;
  width: 95%;
}

.mosttrusted_leftDiv_paragragh_p {
  margin-bottom: 25px;
  font-size: 18px;
}

.mosttrusted_leftDiv_button {
  font-family: "Poppins Medium";
  margin-top: 30px;
  height: 65px;
  width: 270px;
  color: var(--white);
  border: 2px solid var(--white);
  background-color: var(--blue);
}

/* mosttrusted rightwork */

.mostTrusted_Rightbox {
  background-color: rgba(0, 0, 0, 0.027451);
}
/* row One */
.mostTrusted_Rightbox_RowOneDiv {
  display: flex;
  border: 1px solid #D3D3D3;
  height: 120px;
}

.mostTrusted_Rightbox_RowOneSubDivOne {
  width: 50%;
  padding-top: 10px;
  padding-left: 20px;
}

.mostTrusted_Rightbox_RowOneSubDivOne_p {
  color: var(--blue);
  font-size: 20px;
}

.mostTrusted_Rightbox_RowOneSubDivTwo {
  border-left: 1px solid #D3D3D3;
  padding-top: 10px;
  padding-left: 20px;
  width: 50%;
}

.mostTrusted_Rightbox_RowTwoDiv {
  border: 1px solid #D3D3D3;
  height: 250px;
}

.img_dedicatedDevelopers {
  width: 100%;
  height: 250px;
}

/* mostTrusted_Rightbox_BOTTOMwORK */

.mostTrusted_Rightbox_BottomWork {
  display: flex;
  margin-top: 60px;
}

.mostTrusted_Rightbox_BottomWork_p {
  font-size: 18px;
  width: 95%;
  margin-bottom: 20px;
  line-height: 2.1em;
}

.mostTrusted_Rightbox_BottomWork_span {
  color: var(--blue);
  font-size: 22px;
}

.mostTrusted_Rightbutton {
  margin-right: 20px;
  font-family: "Poppins Medium";
  height: 60px;
  width: 170px;
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
}


/* most trusted  section end */

