@import url(//db.onlinewebfonts.com/c/0c28006f19928dfd146027cfd7024ca0?family=Poppins+Medium);
@import url(//db.onlinewebfonts.com/c/2e6cd8faed5d485da4baf7f2a3202a04?family=Poppins+Light);


:root {
  --blue: #1576d8;
  --white: #ffffff;
}

.Talkexpert_container {
  margin-top: 125px;
  margin-left: 60px;
}

.Talkexpert_right_div {
  margin-left: 50px;
}

.Talkexpert_right_image{
  margin-top: 30px;
  height: 470px;
  width: 100%;
}

.Talkexpert_heading {
  font-size: 43px;
}

.Talkexpert_paragraph {
  margin-top: 30px;
  font-size: 18px;
  font-family: "Poppins Light";
}

.Talkexpert_button {
  font-family: "Poppins Medium";
  margin-top: 30px;
  height: 60px;
  width: 230px;
  color: var(--white);
  border: 2px solid var(--blue);
  background-color: var(--blue);
  cursor: pointer;
}
